RewriteEngine On

# إعادة توجيه كل الطلبات إلى index.php باستثناء الملفات والمجلدات الفعلية
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.*)$ index.php?$1 [QSA,L]
